* {
  padding: 0%;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

#navigation-bar {
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 1em;
}

#navigation-bar img {
  height: 10em;
  width: 10em;
}

#rootdiv {
  margin: 5%;
}

#page1 {
  background-color: grey;
  padding: 5%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#sidebar-button {
  background-color: transparent;
  border: transparent;
  width: 10em;
  height: 10em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

#sidebar-button span {
  display: block;
  width: 24px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
